body {
    background-color: #352d2c  ;
}

#logo {
    display : block;
    margin : 0 auto;
}

#menutext {
    width:300px;
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #211d1d;
    color : white;
    margin : 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 30px;
}

#menu_image_container {
    margin : 0 auto;
    text-align: center;
    background-color: #211d1d;
    border-radius: 10px;
    margin-left: 22%;
    margin-right: 22%;
}

.menu_image {
    margin : 25px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: None;
    width:20%;
    transition: width 0.3s ease;
 }

 .menu_image:hover {
    width: 25%;
 }

 #menu_button {
    font-size: 20px;
    display: block;
    margin : 0 auto;
    background: linear-gradient(120deg,#d100bc 0%, #be00ab 50%,#5e0054 100%);
    color : white;  
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    margin-top: 20px;
    border-color: #211d1d;
    border-width: 5px;
    width:180px;
    transition: width 0.8s ease;
}

#menu_button:hover {
    width: 200px;
}
.log {
    background-color: #211d1d;
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    transition: box-shadow 0.2s ease ;
    
}
#menu_left > .log:hover {
    box-shadow: 0px 4px 16px #000000;
}

#menu_left {
    margin-top: 0.2%;
    margin-right: 62%;
    display: inline-block;
    text-align:left;
}

#menu_right {
    margin-top: 0.2%;
    display: inline-block;
    text-align:right;
}