/*mets le fond de toutes les pages en gris foncé*/


body {
    background-color: #352d2c  ;
}

/*changes les propriété graphiques du logo du menu*/


#logo {
    display : block;
    margin : 0 auto;
}

/*changes les propriété graphiques de la decription du menu*/


#maintext {
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #211d1d;
    color : white;
    margin-left : 40% ;
    margin-right: 40%;
    padding : 30px ;
    border-radius: 10px;
}

/*changes les propriété graphiques du bloc contenant les images d'introduction*/

#image-block {
    margin : 0 auto;
    text-align: center;
    background-color: #211d1d;
    border-radius: 10px;
    margin-left: 22%;
    margin-right: 22%;
}

/*changes les propriété graphiques des images d'introduction*/

.imgc {
    margin : 25px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: None;
 }

/*changes les propriété graphiques du boutons pour acceder au mur d'image*/


#button_menu {
    font-size: 20px;
    display: block;
    margin : 0 auto;
    cursor: pointer;
    background: linear-gradient(90deg,#601258 0%, #a24498 50%,#d300be 100%);
    color : white;  
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: None;
    border-radius: 10px;
    margin-top: 20px;
    border-color: #211d1d;
    border-width: 5px;
    width:180px;
    transition: width 0.8s ease;

}

#button_menu:hover {
    width:200px;
}

/*changes les propriété graphiques du bloc contenant toutes les images, on y trouve 4 
blocs différents afin de pouvoir avoir un affichage différents selon la taille de l'écran*/


@media screen  and (min-width:300px){
    #mesimages {
        column-count: 1;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #211d1d;
        border-radius: 10px;
        margin-top: 40px ;
        padding-top: 15px;
        margin-left: 24%;
        margin-right: 24%;
        position:relative;
    }
}

@media screen  and (min-width:600px){
    #mesimages {
        column-count: 3;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #211d1d;
        border-radius: 10px;
        margin-top: 40px ;
        padding-top: 15px;
        margin-left: 24%;
        margin-right: 24%;
        position:relative;
    }
}
@media screen  and (min-width:1200px){
    #mesimages {
        column-count: 5;
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: #211d1d;
        border-radius: 10px;
        margin-top: 40px ;
        padding: 50px;
        margin-left: 10%;
        margin-right: 10%;
        position:relative;
    }
}

@media screen  and (min-width:1600px){
    #mesimages {
        column-count: 7 ;
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: #211d1d;
        border-radius: 10px;
        margin-top: 40px ;
        padding: 50px;
        margin-left: 10%;
        margin-right: 10%;
        position:relative;
    }
}

/*changes les propriété graphiques de chaque images du mur, on y trouve 
beaucoup de selecteur de classe différents de pouvoir correctement appliquer 
le blur sans masquer le texte, masquer le texte sans masquer l'image, etc...*/


.imgc1 {
    margin : 20px;   
    display :block  ;
    border-radius: 10px 0px 10px 0px;
    width: 150px;
    position : relative;
    filter: blur(0px) ;
    transition:  filter 0.8s ease;
}

.image-container {
    position: relative;
    filter :blur(0px) ;

}

.hey {
    position:absolute;
    z-index:1;
    bottom:40%;
    margin-left: 29%;
    text-decoration: None;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity:0%;
    transition: opacity 0.8s ease;
}


.image-container:hover .imgc1{
    filter:blur(3px) brightness(60%);
}

.image-container:hover .hey {
    opacity: 1;
}

/*changes les propriété graphiques du bouton permettant de revenir au menu principale*/


.backhome {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 20px;
    padding: 15px;
    background-color: #211d1d;
    box-shadow: 0px 4px 16px #a24498;
    color : white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: box-shadow 0.3s ease;

}

.backhome:hover {
    box-shadow: 0px 8px 20px #de61d1;
    
}

/*les selcteurs suivants permettent de changer les propriété grpahiques, en particulier de 
faire l'animation du changement de taille(Le changement de taille à été réalisé à l'aide de 
chatGPT)*/

#mainwall {
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    transition: font-size 0.3s ease, text-shadow 0.5s ease;
}

@keyframes enlargeText {
    0% {
        font-size: 35px;
    }
    100% {
        font-size: 50px; 
    }
}

@keyframes addShadow {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0px 30px 20px rgba(0, 0, 0, 0.719);
    }
}

#mainwall {
    animation: enlargeText 1.5s ease 1s forwards, addShadow 1s ease 1s forwards;
}

/*changes les propriété graphiques de la decription de l'images*/


.mainpicture {
    width: 400px;
    margin-left: 33%;
    margin-right: 25%;
    margin-top:35px;
    border :18px solid #211d1d;
    border-radius: 7px;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    display: block;
    position: relative;
}

.mainpicture:hover {
    box-shadow:0px 8px 16px black ;
}

/*changes les propriété graphiques de la decription de l'images*/

.textedescriptif {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #211d1d;
    color : white;
    margin-left : 20% ;
    margin-right: 20%;
    padding : 30px ;
    border-radius: 10px;
}

.textedescriptif:hover {
    box-shadow:0px 8px 16px black ;
}

/*changes les propriété graphiques des blocs permettant d'allez à l'images suivante et p
récédents*/

.previous, .next {
    height: 230px;
    width: 500px;
    display: inline-block;
    background-color: #211d1d;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-radius: 7px;
    box-shadow: none;
    transition: box-shadow 0.3s ease, filter 0.3s;
    display: flex;
}

.previous:hover, .next:hover {
    box-shadow: 0px 8px 16px black;
}

/*gere les textes dans previous et next*/

.p, .n{
    display: inline-block; 
    padding-top: 18%;
    padding-left: 20%;
}

/*Maintient l'espace entre les block previous next*/

.containerNP {
    display: flex;
    justify-content: space-between; 
}

/*ce selecteur et le suivant permettent de changer le filtre de l'image en noir et blancs 
lorsque l'on passe le curseur dessu*/

.change_image {
    margin: 20px;
    filter: grayscale(100%);
    transition: filter 0.3s ease; 
}

.previous:hover .change_image,.next:hover .change_image {
    filter: grayscale(0%);
}

/*changes les propriété graphiques de l'affichage des commentaire en distinguant :
1 : le commentaire posté, 
2 : la boite contenant les commentaire posté, 
3 : la boite dans lequelle se trouve le bouton et le widget pour ecrire le commentaire*/


.commentaire {
    text-align:left;
    color: white;
    background-color: #0f0f0f;
    display: block;
    margin : 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    border-radius: 5px;
    overflow-wrap: normal;

}


.espace_commentaires {
    background-color: #211d1d;
    margin:50px;
    border-radius: 10px;
    margin-left: 10px;
    display: inline-block;
    grid-template-columns: auto;
}

.usercomment {
    margin-top:40px;
    padding: 30px;
    background-color: #211d1d;
    display: inline-block;
    margin-left: 20%;
}