body {
    background-color: #352d2c  ;
}

.back_to_menu {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    background-color: #211d1d;
    box-shadow: 0px 4px 16px #a24498;
    color : white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: box-shadow 0.3s ease;
}

.back_to_menu:hover {
    box-shadow: 0px 8px 20px #de61d1;  
}

.mainpicture {
    width: 400px;
    margin: 0 auto;
    margin-top:35px;
    border :18px solid #211d1d;
    border-radius: 7px;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    display: block;
    position: relative;
}
.mainpicture:hover {
    box-shadow:0px 8px 16px black ;
}

.textedescriptif {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #211d1d;
    color : white;
    margin-left : 20% ;
    margin-right: 20%;
    padding : 30px ;
    border-radius: 10px;
}

.textedescriptif:hover {
    box-shadow:0px 8px 16px black ;
}

.previous{
    height: 230px;
    width: 35%;
    display: inline-block;
    background-color: #211d1d;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-radius: 7px;
    box-shadow: none;
    transition: box-shadow 0.3s ease, filter 0.3s;
    margin-right: 29%;
    padding-bottom: 20px;
    vertical-align: top;
}

.next {
    height: 230px;
    width:35%;
    display: inline-block;
    background-color: #211d1d;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-radius: 7px;
    box-shadow: none;
    transition: box-shadow 0.3s ease, filter 0.3s;
    padding-bottom: 20px;
    margin-top: 0px;
    vertical-align: top;
}

.previous:hover, .next:hover {
    box-shadow: 0px 8px 16px black;
}

.p, .n{
    display: inline-block; 
    padding-top: 24%;
    vertical-align: top;
    margin-left: 8%;

}


.change_image {
    margin: 20px;
    filter: grayscale(100%);
    transition: filter 0.3s ease; 
    max-width: 100%; 
    margin-top: 5%;
    display: inline-block;
}

.previous:hover .change_image,.next:hover .change_image {
    filter: grayscale(0%);
}
.commentaires {
    text-align:left;
    color: white;
    background-color: #0f0f0f;
    display: block;
    margin : 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    border-radius: 5px;
    overflow-wrap: normal;

}

#commentaire {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #0f0f0f;
    color: #fff;
}

#commentbutton {
    background-color: #c001d1;
    color: #211d1d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#commentbutton {
    background-color: #a24498;
}



.espace_commentaires {
    background-color: #211d1d;
    margin:50px;
    border-radius: 10px;
    margin-left: 10px;
    display: inline-block;
    grid-template-columns: auto;
}

.usercomment {
    margin-top:40px;
    padding: 30px;
    background-color: #211d1d;
    display: inline-block;
}
.page_like {
    width:100px;
    display: inline-block;
    margin-left: 36%;
    margin-top:50px;
    position: relative  ;
    cursor: pointer;
}

#number_likes {
    position: relative;
    bottom: 35px;
    left :-62px;
    color: white; 
    display: inline-block;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;

}