body {
    background-color: #352d2c  ;
}

.back_to_menu {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    background-color: #211d1d;
    box-shadow: 0px 4px 16px #a24498;
    color : white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: box-shadow 0.3s ease;
}

.back_to_menu:hover {
    box-shadow: 0px 8px 20px #de61d1;  
}

#wall_all_images_container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #211d1d;
    border-radius: 10px;
    margin-top: 40px;
    position: relative;
}

@media screen and (min-width: 300px) {
    #wall_all_images_container {
        column-count: 1;
        margin-left: 24%;
        margin-right: 24%;
        padding-top: 15px;
    }
}

@media screen and (min-width: 600px) {
    #wall_all_images_container {
        column-count: 3;
        margin-left: 24%;
        margin-right: 24%;
        padding-top: 15px;
    }
}

@media screen and (min-width: 1200px) {
    #wall_all_images_container {
        column-count: 5;
        margin-left: 10%;
        margin-right: 10%;
        padding: 50px;
    }
}

@media screen and (min-width: 1600px) {
    #wall_all_images_container {
        column-count: 7;
        margin-left: 10%;
        margin-right: 10%;
        padding: 50px;
    }
}

.wall_image {
    margin : 20px;   
    display :block  ;
    border-radius: 10px 0px 10px 0px;
    width: 150px;
    position : relative;
    filter: blur(0px) ;
    transition:  filter 0.8s ease;
}

.wall_image_container {
    position: relative;
    filter :blur(0px) ;

}

.wall_image_text {
    position:absolute;
    z-index:1;
    bottom:40%;
    margin-left: 29%;
    text-decoration: None;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity:0%;
    transition: opacity 0.8s ease;
}


.wall_image_container:hover .wall_image{
    filter:blur(3px) brightness(60%);
}

.wall_image_container:hover .wall_image_text {
    opacity: 1;
}

#wall_images_title {
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    transition: font-size 0.3s ease, text-shadow 0.5s ease;
}

@keyframes enlargeText {
    0% {
        font-size: 35px;
    }
    100% {
        font-size: 50px; 
    }
}

@keyframes addShadow {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0px 30px 20px rgba(0, 0, 0, 0.719);
    }
}

#wall_images_title {
    animation: enlargeText 1.5s ease 1s forwards, addShadow 1s ease 1s forwards;
}
.heart {
    width: 30px;
    vertical-align: middle; 
    margin-right: 5px; 
    display: inline-block;
}

.like-text {
    display: inline-block;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    vertical-align: middle; 
    margin-right: 75px;
}

.background-like {
    background-color: #161414;
    display: inline-block; 
    padding: 5px 10px; 
    border-radius: 12px;
    margin-left: 18px;
}